# Folder view configuration files
.DS_Store

hw0/ans*

hw1/data.zip
# hw1/data*
# hw1/outputs*
# hw1/models*

hw3/data*
hw3/model*

hw4/data*
hw4/output*
hw4/model*

*.zip

# ignore all data folders
data/
